<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yanhao.main.yanhaoandroid"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- ###################声明SDK使用的相关权限###################### -->
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".YanHao"
        android:allowBackup="true"
        android:icon="@mipmap/yanhao_icon_1024"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UserGuideActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.FrogetPwdActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".consult.ConsultListActivity" />
        <activity android:name=".matchconsultant.MatchConsultantActivity" />
        <activity android:name=".usercenter.EditActivity" />
        <activity android:name=".usercenter.OrderActivity" />
        <activity android:name=".usercenter.RecordActivity" />
        <activity android:name=".usercenter.SettingActivity" />
        <activity android:name=".usercenter.MyCollectionActivity" />
        <activity android:name=".usercenter.UpdateProfireActivity" />
        <activity android:name=".usercenter.AllOrderActivity" />
        <activity android:name=".usercenter.ProFireActivity" />
        <activity android:name=".usercenter.CityListActivity" />
        <activity
            android:name=".test.DialogActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".usercenter.Notifications" />
        <activity android:name=".usercenter.ModifyPwdActivity" />
        <activity android:name=".usercenter.PrivacyActivity" />
        <activity android:name=".usercenter.ModifyOKActivity" />
        <activity android:name=".usercenter.AboutActivity" />
        <activity android:name=".usercenter.ModifyPhoneActivity" />
        <activity
            android:name=".usercenter.MessageCallBack"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity android:name=".homepage.HomePageActivity" />
        <activity android:name=".matchconsultant.OrderContantActivity" />
        <activity android:name=".homepage.PayPageActivity" />
        <activity android:name=".homepage.InYanHaoActivity" />
        <activity android:name=".homepage.RecommendActivity" />
        <activity android:name=".homepage.ReadActivity" />
        <activity android:name=".homepage.DailyTestActivity" />
        <activity android:name=".serach.SerachActivity" />
        <activity
            android:name=".share.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeTranslucent" />
        <activity android:name=".alipay.PayActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".test.TestWebViewActivity" />
        <activity android:name=".matchconsultant.TimeMainActivity" />
        <activity android:name=".test.WebViewTest" />
        <activity android:name=".usercenter.CollectionActivity" />
        <activity android:name=".serach.SerachContentActivity" />
        <activity android:name=".wxpay.WXPayActivity" />
        <activity android:name=".usercenter.PersonalOrderActivity" />
        <activity android:name=".usercenter.AboutDetialActivity" />


        <!-- ###################友盟相关的注册SDK使用的Activity###################### -->
        <activity
            android:name=".share.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeTranslucent" />

        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <!--
        微信回调
        1 解压已下载的zip文件，将platforms/weixin/libs中SocialSDK_WeiXin_1.jar,SocialSDK_WeiXin_2.jar拷贝到工程的libs（如果没有此目录，新建libs目录）目录中.

        2 在libs目录中找到SocialSDK_WeiXin_1.jar,SocialSDK_WeiXin_2.jar文件，鼠标右键Add to Build Path.
        3 将解压目录中platforms/weixin/res拷贝至你工程的res目录
        微信分享功能使用了微信原生的jar包，如果你的应用中也引用了微信原生SDK，会出现jar冲突Unable to execute dex: Multiple dex files define
        -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="1104361818" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56a2edfbe0f55a19800025f9" />

        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2">
            <intent-filter android:priority="0x7fffffff">
                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理-->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="true">
            <intent-filter>
                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action"-->
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />

        <!-- 【必须】 通知service，此选项有助于提高抵达率 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.yanhao.main.yanhaoandroid.PUSH_ACTION" />
            </intent-filter>
        </service>

        <receiver android:name="com.yanhao.main.yanhaoandroid.receiver.MessageReceiver">
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100168099" />
        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="AF73Y7NY88AP" />
    </application>

</manifest>
